{% extends "layout.html" %}
{% block body %}
    <div class="logo" style="width: 300px; margin-left: 40%; margin-top: 5%">
        <img src="../static/Maxim/img/dog_head.png" alt="" />
    </div>

  <form action="{{ url_for('PetCare.create_post') }}" enctype="multipart/form-data" method=post>
    <dl>
        <dt style="width: 200px; margin-left: 35.5%; float: left"> Name:
        <dd> <input type=text name=name>

        <dt style="width: 200px; margin-left: 35.5%; float: left">Species:
        <dd>
            <select name=species>
              <option value="Dog">Dog</option>
              <option value="Cat">Cat</option>
              <option value="Bird">Bird</option>
            </select>

      <dt style="width: 200px; margin-left: 35.5%; float: left">Breed:
      <dd><input type=text name=breed>

      <dt style="width: 200px; margin-left: 35.5%; float: left">Gender:
      <dd>
        <input type=radio name=gender value=1 checked>Male
        <input type=radio name=gender value=0>Female

      <dt style="width: 200px; margin-left: 35.5%; float: left">Age:
      <dd>
        <select name=age>
          <option value=0><1 year</option>
          <option value=1>1 year</option>
          <option value=2>2 year</option>
          <option value=3>3 year</option>
          <option value=4>4 year</option>
          <option value=5>5 year</option>
          <option value=6>6 year</option>
          <option value=7>7 year</option>
          <option value=8>8 year</option>
          <option value=9>9 year</option>
          <option value=10>>=10 year</option>
        </select>

      <dt style="width: 200px; margin-left: 35.5%; float: left">Vaccination:
      <dd><input type=text name=vaccination>
      <dt style="width: 200px; margin-left: 35.5%; float: left">Start Date:
      <dd><input type=date name=start_date>
      <dt style="width: 200px; margin-left: 35.5%; float: left">End Date:
      <dd><input type=date name=end_date>
      <dt style="width: 200px; margin-left: 35.5%; float: left">Criteria:
      <dd>
        <select name=criteria>
          <option value=0>No criteria</option>
          <option value=1>1 point</option>
          <option value=2>2 point</option>
          <option value=3>3 point</option>
          <option value=4>4 point</option>
        </select>
      <dt style="width: 200px; margin-left: 35.5%; float: left">Notes:
      <dd><textarea name=notes rows="4" cols="50" style="width: 400px"></textarea>
      <dt style="width: 200px; margin-left: 35.5%; float: left">Image1:
      <dd><input type=file name=image1>
      <dt style="width: 200px; margin-left: 35.5%; float: left">Image2:
      <dd><input type=file name=image2>
      <dt style="width: 200px; margin-left: 35.5%; float: left">Image3:
      <dd><input type=file name=image3>
      <dt><input class="btn btn-large btn-theme" type=submit value=Submit style="width: 200px; margin-left: 43.5%; margin-top: 2%">
    </dl>
  </form>
  <center>{% if error %}<p class=error><strong>Reminder:</strong> {{ error }}{% endif %}</center>
{% endblock %}