{% extends "layout.html" %}
{% block body %}
	<!-- Header area -->
	<div id="header-wrapper" class="header-slider">
		<header class="clearfix">
			<div class="logo">
				<img src="../static/Maximum/img/dog_head.png" alt="" />
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<div id="main-flexslider" class="flexslider">
							<ul class="slides">
								<li>
									<p class="home-slide-content">
										<strong>Love</strong> and Care
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										All kinds of <strong>pets</strong>
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										Find the best <strong>match</strong>
									</p>
								</li>		
							</ul>
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>
		</header>
	</div>
	<!-- spacer section -->
	<section class="spacer green">
		<div class="container">
			<div class="row">
				<div class="span6 alignright flyLeft">
					<blockquote class="large">
						There's huge gap beetween pet owner and caregiver <cite>Jay, Chou</cite>
					</blockquote>
				</div>
				<div class="span6 aligncenter flyRight">
					<i class="icon-coffee icon-10x"></i>
				</div>
			</div>
		</div>
	</section>
	<!-- end spacer section -->
	<!-- section: services -->
	<section id="services" class="section orange">
		<div class="container">
			<h4>Services</h4>
			<!-- Four columns -->
			<div class="row">
				<div class="span3 animated-fast flyIn">
					<div class="service-box">
						<img src="../static/Maximum/img/icons/laptop.png" alt="" />
						<h2>Web design</h2>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						</p>
					</div>
				</div>
				<div class="span3 animated flyIn">
					<div class="service-box">
						<img src="../static/Maximum/img/icons/lab.png" alt="" />
						<h2>Web development</h2>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						</p>
					</div>
				</div>
				<div class="span3 animated-fast flyIn">
					<div class="service-box">
						<img src="../static/Maximum/img/icons/camera.png" alt="" />
						<h2>Photography</h2>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						</p>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<img src="../static/Maximum/img/icons/basket.png" alt="" />
						<h2>Ecommerce</h2>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end section: services -->
{% endblock %}