{% extends "layout.html" %}
{% block body %}
	<!-- Header area -->
	<div id="header-wrapper" class="header-slider">
		<header class="clearfix">
			<div class="logo">
				<img src="../static/Maxim/img/dog_head.png" alt="" />
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<div id="main-flexslider" class="flexslider">
							<ul class="slides">
								<li>
									<p class="home-slide-content">
										<strong>Love</strong> and Care
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										All kinds of <strong>pets</strong>
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										Find the best <strong>match</strong>
									</p>
								</li>		
							</ul>
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>
		</header>
	</div>
	<!-- spacer section -->
	<section class="spacer green">
		<div class="container">
			<div class="row">
				<div class="span6 alignright flyLeft">
					<blockquote class="large">
						We would help you find the best caregiver! <cite>TritonPetCare Staff</cite>
					</blockquote>
				</div>
				<div class="span6 aligncenter flyRight">
					<i class="icon-coffee icon-10x"></i>
				</div>
			</div>
		</div>
	</section>
	<!-- end spacer section -->
	<!-- section: services -->
	<section id="services" class="section orange">
		<div class="container">
			<h4>Star Pets</h4>
			<!-- Four columns -->
			<div class="row">
				<div class="span3 animated-fast flyIn">
					<div class="service-box">
						<a href="{{ url_for('PetCare.homepage') }}">
						<img src="../static/Maxim/img/icons/p2.png" alt="" />
						</a>
						<h2>Pinoco</h2>
						<p> Triton PetCare
							Pinoco is a sweet,neutered male who is calm and easygoing. He is easy to hold and very curious about the world around him. He is two and a half years old.
						</p>
					</div>
				</div>
				<div class="span3 animated flyIn">
					<div class="service-box">
						<a href="{{ url_for('PetCare.homepage') }}">
						<img src="../static/Maxim/img/icons/p6.png" alt="" />
						</a>
						<h2>Kino</h2>
						<p>
							Kino is a social, sweet and a medium-energetic cat. He´s an only indoors baby that likes to run around the house all day long playing with his toys and balls. He likes adults and children but he has never lived with dogs. This little boy already knows how to use his litter box.
						</p>
					</div>
				</div>
				<div class="span3 animated-fast flyIn">
					<div class="service-box">
						<a href="{{ url_for('PetCare.homepage') }}">
						<img src="../static/Maxim/img/icons/p7.png" alt="" />
						</a>
						<h2>Leona</h2>
						<p>
							Leona is a 2-year-old beauty who can't wait to join you on walks and other outings. This sweet girl is looking for a family to call her own, she is looking forward to sharing her love and snuggles with you.
						</p>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<a href="{{ url_for('PetCare.homepage') }}">
						<img src="../static/Maxim/img/icons/p8.png" alt="" />
						</a>
						<h2>Lady Sophie</h2>
						<p>
							My name is Sophie , I am 6 to 8 months, I'm a little Lover, I am very playful. I can also be independent. Sometimes I am very shy but once I get to know you I am very affectionate especially when you start stroking me, I become a purring machine!
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end section: services -->
{% endblock %}