{% extends "layout.html" %}
{% block body %}
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
              $('a#load_more_button').bind('click', function() {
                $.getJSON('/_load_more_posts', {
                  offset: $('div.postCell').length,
                }, function(data) {
                  console.log(data)

                  if (data.length < 4) {
                    var readMoreButton = document.getElementById('read-more');
                    readMoreButton.style.display = 'none'; 
                  }

                  var containerDiv = document.getElementById('allPosts')

                  var rowDiv;
                  rowDiv = document.createElement('div')
                  rowDiv.className = 'row'       
     
                  for (i = 0; i < data.length; i++) {
                    post = data[i]

                    var span3Div = document.createElement('div')
                    span3Div.className = 'span3 postCell'
                    
                    var homePostDiv = document.createElement('div')
                    homePostDiv.className = 'home-post' 
                    
                    var postImageDiv = document.createElement('div')
                    postImageDiv.className = 'post-image'
                    var postMetaDiv = document.createElement('div')
                    postMetaDiv.className = 'post-meta'
                    var entryContentDiv = document.createElement('div')
                    entryContentDiv.className = 'entry-content'

                    var maxImgImg = document.createElement('img')
                    maxImgImg.className = 'max-img'
                    maxImgImg.src = post.image1

                    var iconCalendarI = document.createElement('i')
                    iconCalendarI.className = 'icon-calendar icon-2x'
                    var dateSpan1 = document.createElement('span')
                    dateSpan1.className = 'date'
                    dateSpan1.innerHTML = post.start_date.concat('-')
                    var dateSpan2 = document.createElement('span')
                    dateSpan2.className = 'date'
                    dateSpan2.innerHTML = post.end_date
                    
                    var h5 = document.createElement('h5')
                    var strong = document.createElement('strong')
                    var jinhaoA = document.createElement('a')
                    jinhaoA.href = '#'
                    jinhaoA.innerHTML = post.name
                    var p = document.createElement('p')
                    p.innerHTML = post.notes.substr(0, 100) + "..."

                    var readMoreLink = document.createElement('a')
                    readMoreLink.className = 'more'
                    readMoreLink.href = '{{ url_for('PetCare.view_post')}}'.concat('?postId=').concat(post.id)
                    readMoreLink.innerHTML = 'Read More'

                    rowDiv.appendChild(span3Div)
                    span3Div.appendChild(homePostDiv)                                      
                    
                    homePostDiv.appendChild(postImageDiv)
                    homePostDiv.appendChild(postMetaDiv)
                    homePostDiv.appendChild(entryContentDiv)          

                    postImageDiv.appendChild(maxImgImg)
                    postMetaDiv.appendChild(iconCalendarI)
                    postMetaDiv.appendChild(dateSpan1)
                    postMetaDiv.appendChild(dateSpan2)
                    entryContentDiv.appendChild(h5)
                    entryContentDiv.appendChild(p)
                    entryContentDiv.appendChild(readMoreLink)

                    h5.appendChild(strong)
                    strong.appendChild(jinhaoA)

                    if (i % 4 == 3 || i == data.length - 1) {
                        containerDiv.appendChild(rowDiv)                                                
                        rowDiv = document.createElement('div')
                        rowDiv.className = 'row'       
                    }
                  }
                });
                return false;
              });
            });
        </script>
    </head>

    <form action="{{ url_for('PetCare.filter_posts') }}" enctype="multipart/form-data" method=post>
        <div class="filter-bar" style="margin-top: 2%">
            <div class="row" style="margin-left: 2%">
                <div class="span2">
                    <label for="Gender">Gender</label>
                    <select name="gender" id="gender-filter" style="width: 130px"/>
                        <option value=-1 >no filter</option>
                        <option value=1 >Male</option>
                        <option value=0 >Female</option>
                    </select>
                </div>
                <div class="span2">
                    <label for="Species">Species</label>
                    <select name="species" id="species-filter" style="width: 130px"/>
                        <option value="">no filter</option>
                        <option value="Dog">Dog</option>
                        <option value="Cat">Cat</option>
                        <option value="Bird">Bird</option>
                    </select>
                </div>
                <div class="span2">
                    <label for="Age">Age</label>
                    <select name="age" id="age-filter" style="width: 130px"/>
                        <option value=-1>no filter</option>
                        <option value=0 > < 1 year</option>
                        <option value=1 >1 year</option>
                        <option value=2 >2 year</option>
                        <option value=3 >3 year</option>
                        <option value=4 >4 year</option>
                        <option value=5 >5 year</option>
                        <option value=6 >6 year</option>
                        <option value=7 >7 year</option>
                        <option value=8 >8 year</option>
                        <option value=9 >9 year</option>
                        <option value=10 > >= 10 year</option>
                    </select>
                </div>
                <div class="span2">
                    <label for="Start_Date">Earliest Start Date</label>
                    <input type=date name="start_date" value='' style="width: 130px">
                </div>
                <div class="span2">
                    <label for="End_Date">Latest End Date</label>
                    <input type=date name="end_date" value='' style="width: 130px">
                </div>                
                <div class="span2">
                    <input value="filter" type="submit" class="btn btn-primary btn-large btn-rounded" style="width: 150px; margin-top: 4%">
                </div>
            </div>
        </div>
    </form>
    
    <section id="blog" class="section">
		<div class="container" id="allPosts">
        {% for post_row in posts | batch(4, '&nbsp;') %}
            <div class="row">
            {% set outer_loop = loop %}
            {% for post in post_row %}
            {% if (outer_loop.index - 1) * 4 + loop.index <= posts|length %}
                <a href="{{ url_for('PetCare.view_post') + '?postId=' + post.id|string }}">
                    <div class="span3 postCell">
                        <div class="home-post">
                            <div class="post-image">
                                <img class="max-img" src="{{post.image1}}" />
                            </div>
                            <div class="post-meta">
                                <i class="icon-calendar icon-2x"></i>
                                <span class="date">{{post.start_date|string}}-</span>
                                <span class="date">{{post.end_date|string}}</span>
                            </div>
                            <div class="entry-content">
                                <h5><strong><a href="#">{{ post.name }}</a></strong></h5>
                                <p>
                                    {{ post.notes[:100] + '...' }} 
                                </p>
                                <a href="{{ url_for('PetCare.view_post') + '?postId=' + post.id|string }}" class="more">Read more</a>
                            </div>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
		</div>

        <div class="blankdivider30"></div>
        {% if posts|length > 0 and not fromFilter%}
        <div class="aligncenter" id="read-more">
            <a href="#" id=load_more_button class="btn btn-large btn-theme">More blog post</a>
        </div>
        {% endif %}
	</section>
{% endblock %}