{% extends "layout.html" %}
{% block body %}
	<!-- spacer section -->
	<section class="spacer green">
		<div class="container">
			<div class="row">
				<div class="span12 aligncenter flyUp">
					<h2 class="pagetitle">Xueyang <strong>Li</strong></h2>
				</div>
			</div>
		</div>
	</section>
	<!-- end spacer section -->
	<!-- section: team -->
	<section id="maincontent" class="inner">
		<div class="container">
			<div class="row">

				<div class="span6">
					<h4>Main Introduction</h4>
					<!-- start: Accordion -->
					<div class="accordion" id="accordion2">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
								<i class="icon-minus"></i> Personal Information </a>
							</div>
							<div id="collapseOne" class="accordion-body collapse in">
								<div class="accordion-inner">
									<p>
										Name: Xueyang Li
									</p>
									<p>
										Gender: Male
									</p>
									<p>
										Breed and Species: British shorthair cat
									</p>
									<p>
										Age: 2
									</p>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
								<i class="icon-plus"></i> Vaccination </a>
							</div>
							<div id="collapseTwo" class="accordion-body collapse">
								<div class="accordion-inner">
									some Vaccination information.
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
								<i class="icon-plus"></i> Post Information </a>
							</div>
							<div id="collapseThree" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>
										Start Date: 12/07/2017
									</p>
									<p>
										End Date: 12/07/2018
									</p>
									<p>
										Post Date: 8/07/2017
									</p>
								</div>
							</div>
						</div>
					</div>
					<!--end: Accordion -->
				</div>


				<div class="span6">
					<h4>Pictures</h4>
					<div class="tabbable">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#one" data-toggle="tab"><i class="icon-rocket"></i> One</a></li>
							<li><a href="#two" data-toggle="tab">Two</a></li>
							<li><a href="#three" data-toggle="tab">Three</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="one">
								<p>
									<strong>Description</strong> This is the picture one!
								</p>
								<img src="catImage1.jpg" alt="Mountain View">
							</div>
							<div class="tab-pane" id="two">
								<p>
									<strong>Description</strong> This is the picture two!
								</p>
								<img src="catImage2.jpg" alt="Mountain View">
							</div>
							<div class="tab-pane" id="three">
								<p>
									<strong>Description</strong> This is the picture three!
								</p>
								<img src="catImage3.jpg" alt="Mountain View">
							</div>
						</div>
					</div>
				</div>

				
			</div>

			<div class="row">
				<div class="span6">
					<h4>Tags</h4>
					<div class="alert">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Cute</strong> Best check yo self, you're not looking too good.
					</div>
					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Tall</strong> Change a few things up and try submitting again.
					</div>
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Strong</strong> Change a few things up and try submitting again.
					</div>
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Li!</strong> Change a few things up and try submitting again.
					</div>
				</div>
				<div class="span6">
					<h4>Notes</h4>
					<p>
						<strong>Description</strong> This is the detailed description!
					</p>
					<p>
						 This is the detailed description!This is the detailed description!
						 This is the detailed description!This is the detailed description!
					</p>
					<p>
						 This is the detailed description!This is the detailed description!
						 This is the detailed description!This is the detailed description!
					</p>

				</div>
			</div>

			<div class="row">
				<div class="span12">
					<h4 class="heading">Show your Interest<span></span></h4>

					<!-- <a href="#" class="btn">btn default</a>
					<a href="#" class="btn btn-theme">btn btn-theme</a>
					<a href="#" class="btn btn-primary">btn-primary</a>
					<a href="#" class="btn btn-warning">btn-warning</a>
					<a href="#" class="btn btn-danger">btn-danger</a>
					<a href="#" class="btn btn-info">btn-info</a>
					<a href="#" class="btn btn-success">btn-success</a>
					<a href="#" class="btn btn-inverse">btn-inverse</a> -->
					<a href="#" class="btn btn-primary btn-large btn-rounded">I am interested!</a>
				</div>
			</div>


			<!-- <div class="row">
				<div class="span6">

					<h4 class="heading">Button sizes<span></span></h4>

					<p>There are 4 button sizes: mini, small, normal and large</p>

					<a href="#" class="btn btn-mini btn-primary">mini size</a>
					<a href="#" class="btn btn-small btn-warning">small size</a>
					<a href="#" class="btn btn-danger">normal size</a>
					<a href="#" class="btn btn-large btn-info">Large size</a>

				</div>
				<div class="span6">
					<h4 class="heading">Button edge<span></span></h4>

					<p>There are 3 button edge variations: normal, rounded and flat. Simply adding <code>btn-rounded</code> or <code>btn-flat</code> class and you'll get different button edge</p>

					<a href="#" class="btn btn-primary">normal primary</a>

					<a href="#" class="btn btn-warning btn-rounded">rounded button</a>
					<a href="#" class="btn btn-danger btn-flat">flat button</a>

					<a href="#" class="btn btn-primary btn-large btn-rounded">large rounded</a>
					<a href="#" class="btn btn-warning btn-mini btn-rounded">rounded button</a>

				</div>
			</div> -->

		</div>
		<!-- end container -->
	</section>
{% endblock %}