{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('PetCare.register') }}" method=post>
    <dl>
      <dt style="width: 200px; margin-left: 43%; margin-top: 5%">UCSD Email:
      <dd><input type=text name=email style="width: 200px; margin-left: 42.5%">@ucsd.edu
      <dt style="width: 200px; margin-left: 43%;">Password:
      <dd><input type=password name=password style="width: 200px; margin-left: 42.5%">
      <dt style="width: 200px; margin-left: 43%;">Name:
      <dd><input type=text name=name style="width: 200px; margin-left: 42.5%">
      <dt style="width: 200px; margin-left: 43%;">Gender:
      <dd>
        <input type=radio name=gender value=1 checked style="margin-left: 42.5%">Male
        <input type=radio name=gender value=0 >Female
      <dt style="width: 200px; margin-left: 43%; margin-top: 1%">Age:
      <dd><input type=number name=age style="width: 200px; margin-left: 42.5%">
      <dt style="width: 200px; margin-left: 43%;">Department:
      <dd><input type=text name=department style="width: 200px; margin-left: 42.5%">
      <dt style="width: 200px; margin-left: 43%;">College:
      <dd><input type=text name=college style="width: 200px; margin-left: 42.5%">
      <dt><input type=submit value=Register style="width: 150px; margin-left: 45%; margin-top: 1%" class="btn btn-large btn-theme">
    </dl>
  </form>
  <center>{% if error %}<p class=error><strong>Reminder:</strong> {{ error }}{% endif %}</center>
{% endblock %}