{% extends "layout.html" %}
{% block body %}
	<!-- spacer section -->
	<section class="spacer green">
		<div class="container">
			<div class="row">
				<div class="span12 aligncenter flyUp">
					<h2 class="pagetitle">{{post.name}}
				</div>
			</div>
		</div>
	</section>
	<!-- end spacer section -->
	<!-- section: team -->
	<section id="maincontent" class="inner">
		<div class="container">
			<div class="row">

				<div class="span6">
					<h4>Main Information</h4>
					<!-- start: Accordion -->
					<div class="accordion" id="accordion2">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
								<i class="icon-minus"></i> Pet Information </a>
							</div>
							<div id="collapseOne" class="accordion-body collapse in">
								<div class="accordion-inner">
									<p>
										Name: {{post.name}}
									</p>
									<p>
										Gender: {{post.gender}}
									</p>
									<p>
										Species (and Breed): {{ post.species + (' (' + post.breed + ')') if post.breed }}
									</p>
									<p>
										Age: {{post.age}}
									</p>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
								<i class="icon-plus"></i> Vaccination </a>
							</div>
							<div id="collapseTwo" class="accordion-body collapse">
								<div class="accordion-inner">
									{{post.vaccination}}
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
								<i class="icon-plus"></i> Notes </a>
							</div>
							<div id="collapseThree" class="accordion-body collapse">
								<div class="accordion-inner">
									{{post.notes}}
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
								<i class="icon-plus"></i> Post Information </a>
							</div>
							<div id="collapseFour" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>
										Start Date: {{post.start_date}}
									</p>
									<p>
										End Date: {{post.end_date}}
									</p>
									<p>
										Post Date: {{post.post_date}}
									</p>
								</div>
							</div>
						</div>
					</div>
					<!--end: Accordion -->
				</div>


				<div class="span6">
					<h4>Pictures</h4>
					<div class="tabbable">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#one" data-toggle="tab">1</a></li>
							<li><a href="#two" data-toggle="tab">2</a></li>
							<li><a href="#three" data-toggle="tab">3</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="one">
								<img src="{{ post.image1 }}" alt="Mountain View">
							</div>
							<div class="tab-pane" id="two">
								<img src="{{ post.image2 }}" alt="Mountain View">
							</div>
							<div class="tab-pane" id="three">
								<img src="{{ post.image3 }}" alt="Mountain View">
							</div>
						</div>
					</div>
				</div>

				
			</div>

			{% if status == 'PENDING' %}
				{% if isOwner %}
				<div class="row">
					<div class="span3">
						<a href="{{ url_for('PetCare.edit_post') }}" class="btn btn-primary btn-large btn-rounded" style="width: 150px;">Edit</a>
					</div>
					<div class="span3">
						<form action="{{ url_for('PetCare.delete_post') }}" enctype="multipart/form-data" method=post>
							<input type=hidden name=postId value={{ post.id }}>
							<input type=submit value=Delete class="btn btn-primary btn-large btn-rounded" style="width:200px; background-color: red">
						</form>
					</div>
				</div>
				{% else %}
				<div class="row">
					<div class="span12">
						<div class="span3">
						<form action="{{ url_for('PetCare.interest_post') }}" enctype="multipart/form-data" method=post>
							<input type=hidden name=postId value={{ post.id }}>
							<input type=submit value="I'm interested!" class="btn btn-primary btn-large btn-rounded" style="width:250px;">
						</form>
					</div>
					</div>
				</div>			
				{% endif %}
			{% endif %}
		</div>
		<!-- end container -->
	</section>
{% endblock %}